#wrap {
	width: 220px;
	height: 285px;
	margin: auto;
	background-color: #566a7b;
	border-radius: 10px;
	padding: 15px 15px 0px 15px;
}
.result {
	height: 40px;
	background-color: #a8b193;
	border: 2px solid #8c8686;
}
.result p {
	font-family: arial;
	font-size: 20px;
	color: #1530a4;
	text-align: right;
	margin: 12px 3px 12px;
}
.content {
	height: auto;
	margin: 15px 10px 0px 10px;

}
.row {
	height: 40px;
	margin-bottom: 5px;
}
input {
	border: none;
}
.btnwhite, .btngreen, .btnred {
	height: 40px ;
	width: 44px;
	border-radius: 7px;
	margin-right: 3px;
	margin-top: 0px;
}
.btnwhite:hover {
	cursor: pointer;
}
.btngreen:hover {
	cursor: pointer;
}
.btnred:hover{
	cursor: pointer;
}
.btnwhite{
	background-color: #dddddd;
}
.btngreen{
	background-color: #288e2f;
}
.btnred{
	background-color: #ff4561;
}
